<app-toolbar [title]="'Loan ice'">
</app-toolbar>

<body class="container">
    <div class="content">
        <div>
            <h1 class="welcome"> we are a the most important app in colombia</h1>
            <p class="description">AssetFlex es una empresa innovadora dedicada a la gestión y préstamo de activos dentro de organizaciones. Proveemos soluciones eficientes para el préstamo temporal de equipos y herramientas, permitiendo a las empresas optimizar el uso de sus recursos sin incurrir en gastos de adquisición adicionales.</p>
        </div>
            <img src="https://cdn.pixabay.com/photo/2017/02/19/02/46/seo-2078785_640.png">
    </div>
</body>