<app-toolbar [title]="'Home page'">
</app-toolbar>

<body class="container">
    <div class="content">
        <h1 class="welcome"> we are a the most important app in colombia</h1>
        <p class="description">AssetFlex es una empresa innovadora dedicada a la gestión y préstamo de activos dentro de organizaciones. Proveemos soluciones eficientes para el préstamo temporal de equipos y herramientas, permitiendo a las empresas optimizar el uso de sus recursos sin incurrir en gastos de adquisición adicionales. Con un sistema de gestión digital y soporte personalizado, en AssetFlex facilitamos el acceso, seguimiento y mantenimiento de activos, promoviendo un flujo de trabajo organizado y minimizando tiempos de inactividad. Nuestro compromiso es asegurar que cada préstamo se realice de forma transparente, segura y con el respaldo de un equipo profesional especializado.</p>
        <div class="image">
            <img src="https://st4.depositphotos.com/13193658/26589/i/600/depositphotos_265896658-stock-photo-partial-view-man-studying-loan.jpg">
        </div>
    </div>
</body>